{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Metrikai</title>
    </head>
    <body>
        <div class="form-container">
            <div id="form"></div>
        </div>

        <div class="resize-container">
            <div class="resize-bg"></div>
        </div>

        {% if debug %}
        <script src="{% static 'metrikai.dev.bundle.js' %}"></script>
        {% else %}
        <script src="{% static 'metrikai.bundle.js' %}"></script>
        {% endif %}
    </body>
</html>
