.resize-drag {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #29e;
    opacity: 0.3;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 4px;
    border: 2px solid #245D85;
    width: 200px;
    height: 100px;

    /* This makes things *much* easier */
    box-sizing: border-box;
}

.resize-selected {
    background-color: #EFE350;
    border: 2px solid #DD680A;
    z-index: 100;
}

.resize-bg {
    background-image: url(http://www.epaveldas.lt/recordImageSmall/ARCH/1356/1/15?exId=289561&seqNr=3);
}

.resize-container {
    display: block;
    height: 600px;
    overflow: hidden;
}

.form-container {
    float: right;
    width: 400px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}
